<h1>Matheus Rodrigues</h1>
<main>
    <div class="container">
        <form [formGroup]="formPerson" (ngSubmit)="sendData()">

            <label for="nome">Nome:</label>
            <input type="text" id="name" formControlName="name" required>

            <label for="nickname">Apelido:</label>
            <input type="text" id="nickname" formControlName="nickname" required>

            <label for="birthdate">Nascimento:</label>
            <input type="date" id="birthdate" formControlName="birthdate" required>

            <label>Stack:</label>
            <div formArrayName="stack" id="stack">
                <div *ngFor="let control of stackControls; let i = index" id="stack-input">
                    <input [formControlName]="i" placeholder="Ex: Angular" />
                    <button type="button" class="remove-stack-btn" (click)="removeStack(i)">❌</button>
                </div>
            </div>
            
            <button type="button" (click)="addStack()">Adicionar Stack</button>
            
            <div class="button-wrapper">
                <button class="button-next" type="submit" [disabled]="!formPerson.valid">
                    <span>Enviar</span>
                </button>
            </div>
            </form>
    </div>
</main>